In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1032,tt1336608,75000000,59418613,Rock of Ages,Tom Cruise|Alec Baldwin|Diego Boneta|Julianne ...,Adam Shankman,Nothin' but a good time,A small town girl and a city boy meet on the S...,123,Comedy|Drama|Music|Romance,New Line Cinema|Corner Store Entertainment,6/13/2012,5.9,2012
1036,tt1195478,30000000,53909751,The Five-Year Engagement,Emily Blunt|Alison Brie|Jason Segel|Rhys Ifans...,Nicholas Stoller,A comedy about the journey between popping the...,"Exactly one year after Tom meets Violet, he su...",124,Comedy,Universal Pictures|Dentsu|Relativity Media|Apa...,4/27/2012,5.6,2012
1274,tt1924396,13500000,19255873,La migliore offerta,Geoffrey Rush|Jim Sturgess|Sylvia Hoeks|Donald...,Giuseppe Tornatore,A Master of Possession. A Crime of Obsession,Virgil Oldman is a world renowned antiques exp...,124,Drama|Romance|Crime|Mystery,Paco Cinematografica|Warner Bros.|Regione Lazi...,1/1/2013,7.7,2013
186,tt0864835,145000000,272912430,Mr. Peabody & Sherman,Ty Burrell|Max Charles|Ariel Winter|Allison Ja...,Rob Minkoff,He's Leaving His Mark On History,"A young boy and his dog, who happens to have a...",92,Animation|Adventure|Family,20th Century Fox,2/7/2014,6.8,2014
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

In [7]:
# add "profit" column in dataset
data['profit'] = data.revenue - data.budget

In [8]:
from collections import Counter

def genre_counts(movie_genres, c):
    # function counts most popular genre of movies
    movie_genres = movie_genres.split("|")
    for genre in movie_genres:
        c[genre] += 1

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# ответ
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [10]:
# код для решения вопроса:
max_budg = data.budget.max()
display(data[data.budget == max_budg])
# +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [11]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
# ответ
answers['2'] = 'Gods and Generals'
# +

In [13]:
max_runtime = data.runtime.max()
display(data[data.runtime == max_runtime])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
answers['3'] = 'Winnie the Pooh'
# +

In [15]:
min_runtime = data.runtime.min()
display(data[data.runtime == min_runtime])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [16]:
answers['4'] = '110'
# +

In [17]:
display(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [18]:
answers['5'] = '107'
# +

In [19]:
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
answers['6'] = 'Avatar'
# +

In [21]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data.profit.max()
display(data[data.profit == max_profit])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [22]:
answers['7'] = 'The Lone Ranger'
# +

In [23]:
max_loss = data.profit.min()
display(data[data.profit == max_loss])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8'] = '1478'
# +

In [25]:
display(data.profit[data.profit > 0].count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = 'The Dark Knight'
# +

In [27]:
max_profit_2008 = data.profit[data.release_year == 2008].max()
display(data[data.profit == max_profit_2008])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = 'The Lone Ranger'
# +

In [29]:
max_loss_2012_2014 = data.profit[data.release_year.between(2012, 2013, 2014)].min()
display(data[data.profit == max_loss_2012_2014])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [42]:
c = Counter()
popular_genres = data.genres.apply(lambda x: genre_counts(x, c))
display(c.most_common(1))

[('Drama', 782)]

In [32]:
answers['11'] = 'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [44]:
profit_genres = Counter()
profit_movies = data[data.profit > 0]
popular_genres = profit_movies.genres.apply(lambda x: genre_counts(x, profit_genres))
print(profit_genres.most_common(1))

[('Drama', 560)]

In [41]:
profit_genres = Counter()
# second variance
for i in range(len(data)):
    # filter profit movies
    if int(data.iloc[[i], [-1]].values[0][0]) > 0:
        # update counter of profit movies sorted by genre
        genre_counts(data.iloc[[i], [9]].values[0][0], profit_genres)
print(profit_genres.most_common(1))

[('Drama', 560)]

In [39]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [62]:
revenue_by_director = Counter()
directors = data.director.unique()
for director in directors:
    director_movies = data[data.director == director]
    if "|" in director:
        director = director.split("|")
        for sub_director in director:
            revenue_by_director[sub_director] += director_movies.revenue.sum()
        continue
    else:
        revenue_by_director[director] += director_movies.revenue.sum()
print(revenue_by_director.most_common(1))

[('Peter Jackson', 6490593685)]

In [57]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [61]:
action_by_directors = Counter()
for director in directors:
    director_movies = data[data.director == director]
    director_movies = director_movies[director_movies.genres.str.contains('Action')]
    if director_movies.shape[0] > 0:
        if "|" in director:
            director = director.split("|")
            for sub_director in director:
                action_by_directors[sub_director] += director_movies.shape[0]
            continue
        else:
            action_by_directors[director] += director_movies.shape[0]
print(action_by_directors.most_common(1))

[('Robert Rodriguez', 9)]

In [ ]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [65]:
actor_revenue = Counter()
movies_2012 = data[data.release_year == 2012]
actors = movies_2012.cast.unique()
for actor in actors:
    actor_movies = movies_2012[movies_2012.cast == actor]
    if "|" in actor:
        actor = actor.split("|")
        for sub_actor in actor:
            actor_revenue[sub_actor] += actor_movies.revenue.sum()
    else:
        actor_revenue[actor] += actor_movies.revenue.sum()
print(actor_revenue.most_common(1))

[('Chris Hemsworth', 2027450773)]

In [66]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)